@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --accent: #a07bd2;
    --accent_hover:#4b03a3;
    --accent_reso:#7307f7;
}

body{
    overflow-y: scroll;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
}
.header{
    width:auto;
    max-width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    border-bottom: 1px solid rgba(141, 138, 138, 0.315);
    background: white;
}

.logo_cont{
    height:100%;
    width:300px;
}

.mid_cont{
    width:1200px;
    height:100%;
}

.last_cont{
    width:300px;
    height:100%;
}




.mid_cont ul, .last_cont ul{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.mid_cont ul li, .last_cont ul li{

    list-style: none;
    color:black;
    font-weight: 500;
    font-size:14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    /* margin:0 10px; */
}


a{
    color:black;
    text-decoration: none;
}

h5{
    width:100%;
    font-size:12px;
    font-weight:500;
    color:black;
}

h3{
    width:100%;
    font-size:14px;
    font-weight:600;
    color:black;
}

.cent{
    width:85%;
    margin:0 auto;
}

.hero{
    width:100%;
    padding-bottom:80px;
    margin-top:120px;
    padding-top:1px;
    position:relative;
}


.side_bar{
    position:fixed;
    width:80px;
    height:800px;
    left:0;
    top:60px;
    box-shadow: var(--shadow);
}

.side_bar ul{
    width:100%;
    height:100%;
    padding-top:50px;
}

.side_bar ul li{
    margin: 70px auto;
    width:100%;
    height:100px;
    color:black;
    /* padding:10px; */
}

.side_bar ul li:hover .ico{
    background: var(--accent_hover);
    transition:.5s;
}


.invent .cent{
    margin-left:140px;
    padding-top:1px;
}


a{
    color:black;
    text-decoration: none;
}

.ico{
    box-shadow: var(--shadow);
    width:50px;
    height:50px;
    border-radius: 50px;
    margin:0 auto;
    background: var(--accent);
    display:flex;
    justify-content: center;
    align-items: center;
    transition:.5s;
}

.ico i{
    font-size:20px;
    color:white;
}

h5{
    width:100%;
    font-size:12px;
    font-weight:500;
    color:black;
}

h3{
    width:100%;
    font-size:14px;
    font-weight:600;
    color:black;
}

.side_bar ul li h5{
    text-align: center;
    margin:14px 0;
}



.invent{
    width:100%;
    height:auto;
    /* position: relative; */
}



.filter{
    width:800px;
    height:40px;
    border-radius:18px;
    box-shadow:var(--shadow);
    margin:50px auto;
    position:sticky;
    top:60px;
    background: white;
    z-index:100;
}



.branch_nav ul, .filter ul{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.branch_nav ul li, .filter ul li{
    font-weight:500;
    text-transform: capitalize;
    font-size:15px;
    color:black;
    margin:0 26px;
}

.filter ul li{
    font-weight:800;
    color:var(--accent);
    cursor:pointer;
}

.item_cont{
    margin-top:0px;
    /* width:1300px; */
    /* height:auto; */
    display:flex;
    flex-wrap:wrap;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-bottom: 40px;
}

.item_card{
    width:380px;
    height:260px;
    margin:28px 20px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    animation: rise .5s ease-in-out;
    display:none;
}


@keyframes rise {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.item{
    width:100%;
    height:200px;
    display:flex;
    align-items: center;
    padding:10px;
}

.item_pic{
    width: 200px;
    height:160px;
    border-radius: 18px;
    background: #434242;
}

.item_details{
    margin-left:18px;
    /* width:190px; */
}

.data{
    width:100%;
    margin:16px 0;
    display:flex;
    justify-content: space-between;
}

.data h4{
    font-weight:400;
    font-size:14px;
    /* width: 50%; */
}

.data p{
    /* margin-left:40px; */
    display:inline-block;
    text-align: right;
    width:100px;
    font-size:12px;
    font-weight:300;

}

.item_name{
    width:100%;
    height:50px;
    color:black;
    font-weight:800;
    font-size:20px;
    text-align: center;
    align-items: center;
}

.fil{
    position:relative;
    display:block;
}


.filter_by, .sorter{
    position:absolute;
    top:20px;
    width:150px;
    height:150px;
    left:-50px;
    background: var(--accent);
    /* box-shadow: var(--shadow); */
    border-radius:8px;
    cursor:default;
    display:none;
    animation:appear .3s ease-in-out;
}

.fil:hover .filter_by{
    display:block;
}

@keyframes appear{
    from{
        opacity:0;
        top:50px;
    }

    to{
        opacity:1;
        top:20px;
    }
}



.filter_by ul, .categories ul, .supplier ul, .sorter ul{
    width:100%;
    height:100%;
    display:block;
    transition:.3s;
}

.filter_by ul li, .categories ul li, .supplier ul li, .sorter ul li{
    width:100%;
    font-weight:500;
    color:white;
    font-size:16px;
    text-align: center;
    margin:30px 0;
    border-radius: 12px;
    text-transform: capitalize;
}

.categories ul li, .supplier ul li{
    margin:18px 0;
}

.categories ul, .supplier ul{
    overflow-y: scroll;
}

.filter_by ul li:hover, .categories ul li:hover, .supplier ul li:hover, .sorter ul li:hover{
    background: var(--accent_hover);
    transition:.3s;
}


.categories ul::-webkit-scrollbar, .supplier ul::-webkit-scrollbar {
    width: 6px;
} 
.categories ul::-webkit-scrollbar-track, .supplier ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
.categories ul::-webkit-scrollbar-thumb, .supplier ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}



.categories{
    position:absolute;
    top:40px;
    width:150px;
    height:200px;
    left:-200px;
    background: var(--accent);
    /* box-shadow: var(--shadow); */
    border-radius:8px;
    cursor:default;
    display:none;
    animation:appear2 .3s ease-in-out;
    padding-bottom:10px 0;
}

.supplier{
    position:absolute;
    top:90px;
    width:150px;
    height:200px;
    left:-200px;
    background: var(--accent);
    /* box-shadow: var(--shadow); */
    border-radius:8px;
    cursor:default;
    display:none;
    animation:appear3 .3s ease-in-out;
    padding-bottom:10px 0;
}

.categories:hover{
    display:block;
}

@keyframes appear2{
    from{
        opacity:0;
        top:60px;
    }

    to{
        opacity:1;
        top:40px;
    }
}

@keyframes appear3{
    from{
        opacity:0;
        top:110px;
    }

    to{
        opacity:1;
        top:90px;
    }
}

.sort{
    position:relative;
}

.sorter ul li{
    margin:20px 0;
}

.sort:hover .sorter{
    display:block;
}

.search_bar{
    width:100%;
    height:150px;
    background: #a17bd2b7;
    position:fixed;
    bottom:0;
    left:0;
    z-index:1000;
    display:none;
    animation: up .3s ease-in-out;
}


@keyframes up {
    from{
        bottom:-20px;
        opacity:0;
    }

    to{
        bottom:0;
        opacity:1;
    }
}

.search_bar input{
    width:100%;
    height:50px;
    outline:none;
    border:none;
    border-radius: 24px;
    padding:20px;
    color:black;
    font-size:16px;
    margin:0 auto;
}

.search_cont{
    width:60%;
    height:100%;
    position:relative;
    display:flex;
    align-items: center;
    margin:0 auto;
}

.search_bar::placeholder{
    color:rgba(90, 87, 87, 0.656);
}

.search_cont button{
    width:50px;
    height:50px;
    border-radius: 100px;
    position:absolute;
    background: var(--accent);
    outline:none;
    border:none;
    right:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:.6s;
}

.search_cont button i{
    color:white;
    font-size:20px;
}

.search_cont button:disabled{
    background: #a17bd2b7;
    transition:.6s;
}
